<?xml version="1.0"?>
<config>
    <modules>
        <Gibbodesigns_FormTracking>
            <version>0.1.0</version>
        </Gibbodesigns_FormTracking>
    </modules>
    <global>
        <models>
            <gibbodesigns>
                <class>Gibbodesigns_FormTracking_Model</class>
            </gibbodesigns>
        </models>
        <blocks>
            <gibbodesigns>
                <class>Gibbodesigns_FormTracking_Block</class>
            </gibbodesigns>
            <googleanalytics>
                <rewrite>
                    <ga>Gibbodesigns_GoogleAnalytics_Block_Ga</ga>
                </rewrite>
            </googleanalytics>
        </blocks>
        <helpers>
            <gibbodesigns>
                <class>Gibbodesigns_FormTracking_Helper</class>
            </gibbodesigns>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <gibbodesigns_formtracking module="Gibbodesigns_FormTracking">
                    <file>gibbodesigns_formtracking.xml</file>
                </gibbodesigns_formtracking>
            </updates>
        </layout>  
    </frontend>
</config>